<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="TravelJSEntities" connectionString="metadata=res://*/ModelLogin.csdl|res://*/ModelLogin.ssdl|res://*/ModelLogin.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=LSNOWL;initial catalog=Germanov;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="GermanovEntities" connectionString="metadata=res://*/Model1.csdl|res://*/Model1.ssdl|res://*/Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=LSNOWL;initial catalog=Germanov;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="TravelEntities" connectionString="metadata=res://*/ModelLogin.csdl|res://*/ModelLogin.ssdl|res://*/ModelLogin.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=mk121-8;initial catalog=Germanov;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>